<!DOCTYPE html>
<html lang="en">
<head>
			<title>Bootstrap Example</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
			<script src="https://d3js.org/d3.v4.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
			<script src="node_modules/chart.js/src/chart.js"></script>
			
	</head>
	
	<body>
		<div class="container" style="margin-top:100px">
		
		<div class="card ">
				<div class="card-header">
						
						<button class="btn btn-primary btn-lg" (click)="drawChart()">Draw Chart</button>
				</div>			
				<div class="card-body" *ngIf="flag">
					<div>
						<nvd3 [options]="options" [data]="data"></nvd3>
					</div>
					 <!--<div *ngIf="users">
					
						 <table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Followers</th>
									</tr>
								</thead>
					
								<tbody>
									<tr *ngFor = "let user of users">
										<td>{{user.user_name}}</td>
										<td>{{user.followers}}</td>
										
									</tr>
								</tbody>
							</table>
							</div> -->
						</div>
				</div>
			</div>
		
	</body>
</html>-->