<html>
	<head>
			<title>Login Form</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" style="margin-top:100px">
			<div class="card ">
				<div class="card-header">
					<h2>Login</h2>
				</div>			
				<div class="card-body">
					<form (ngSubmit)="onSave(myForm.value)" [formGroup]="myForm">
						<div class="form-group">
							<label for="userText">User Name</label>
							<input type="text" #refName class="form-control" id="userText" formControlName="userId">
							<div *ngIf="myForm.controls['userId'].hasError('required')" class="alert alert-danger">
							  Please enter a user name
							</div>
							<label for="passText">Password</label>
							<input type="password" class="form-control" id="passText" formControlName="pass">
							<div *ngIf="myForm.controls['pass'].hasError('required')" class="alert alert-danger">
							  Please enter a password
							</div>
							<br>
							<button type="submit" class="btn btn-primary btn-lg" [disabled]="!myForm.valid">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#">Sign Up</a>
							<br/><br/>
							<div *ngIf ="disp">
								<h2>{{errMsg}}</h2>
							
							</div>
						</div>
					</form>
				</div>

			</div>
		
		
		</div>
	
	
	</body>
	

</html>
