<html>

	<head>
			<title>Bootstrap Example</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="container" style="margin-top:100px">
		
		<div class="card ">
				<div class="card-header">
						<h3>User's Details</h3>
				</div>			
				<div class="card-body">
					<div *ngIf="followers">
						<table class="table" >
								<thead>
									<tr>
										<th>Public Repos</th>
										<th>Name</th>
										<th>Company</th>
										<th>Location</th>
										<th>Email</th>
										<th>Followers</th>
										<th>Following Count</th>
									</tr>
								</thead>
					
								<tbody>
									<tr>
										<td>{{followers.public_repos}}</td>
										<td>{{followers.name}}</td>
										<td *ngIf="followers.company == null">Null</td>
										<td *ngIf="followers.company != null">{{followers.company}}</td>
										
										<td>{{followers.location}}</td>
										<td *ngIf="followers.email == null">Null</td>
										<td *ngIf="followers.email != null">{{followers.email}}</td>
										<td>{{followers.followers}}</td>
										<td>{{followers.following}}</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
				<div class="card-footer" >
				
				<button type="button" class="btn btn-primary btn-lg" (click)="saveData()" [disabled]="offB">Save Data</button>&nbsp;&nbsp;
				<button type="button" class="btn btn-primary btn-lg" routerLink="/followers">Show Bar Graph</button>
				</div>
		</div>
		</div>
	</body>
</html>
