/* You can add global styles to this file, and also import other style files */
.tick text{
	font-size: 12px;
}

.axis path,
.axis line{
	fill: none;
	stroke: #4C554;
	stroke-width:1;
}

.x.axis .tick line{
  display: none;	
}

.domain{
	display: block;
	stroke: #4C5554;
	stroke-width: 2;
}

.legend{
	font-size: 12px;
	font-family: sans-serif;
	rect{
		stroke-width: 2;
	}
}