<html>

	<head>
			<title>Bootstrap Example</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="container" style="margin-top:100px">
		
		<div class="card ">
				<div class="card-header">
					<h3>Users List</h3>
				</div>			
				<div class="card-body">
					<form  (ngSubmit)="onSave(myForm.value)" [formGroup]="myForm">
						<div class="form-group">
							<label for="userText">User Name</label>
								<input type="text" class="form-control" id="userText" formControlName="name"><br/>
								<div *ngIf="myForm.controls['name'].hasError('required')" class="alert alert-danger">
									Please enter a user name
								</div>
								<button type="submit" class="btn btn-primary btn-lg" [disabled]="!myForm.valid">Find Users</button>
						</div>
					</form>
				</div>
			</div>	
				 
				<div *ngIf="flag && users && data">
					 
					<div><h2> Total Count : {{users.total_count}} </h2><br>
					
							<table class="table" >
								<thead>
									<tr>
										<th>Login</th>
										<th>Id</th>
										<th>Followers_url</th>
										<th>Following_url</th>
									</tr>
								</thead>
					
								<tbody *ngFor="let d of data; let i=index">
									<tr *ngIf="i<10">
										<td><a [routerLink]="['/user', d.login]">{{d.login}}</a></td>
										<td>{{d.id}}</td>
										<td>{{d.followers_url}}</td>
										<td>{{d.following_url}}</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
				
			
		
			
  
		</div>
	</body>
</html>
